body{
    background-color:#F8F8F8!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    #profile-pic {
        width: 100px;
        height: 100px;
    }
}

ul{
    padding: 0;
    list-style-type: none;

}

.social-links,ul,li{
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .card {
        margin-bottom: 20px;
    }
}

.animate-text {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.animate-text.delay {
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to { opacity: 1; }
}
